<!DOCTYPE html>
</html>
    <head>
        <title>Boogle</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script src="/scripts/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header">
                <img src="/../images/boogle.png">
            </div>
			<div class="container">
            
