<!-- views/index.ejs -->

<%- include layouts/header.ejs %>

		</div>
		
    </body>

			<script src="/../js/jquery-3.2.1.min.js"></script>
			<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	        <script src="/../js/bootstrap.min.js"></script>
	        <script src="/../js/data.js"></script>
	        <script src="/../js/textmining.js"></script>

<%- include layouts/footer.ejs %>
