<!-- views/index.ejs -->

<%- include layouts/header.ejs %>
			<div class="row">
			<br><br><br>
		        <div class="col-lg-4 col-lg-offset-2">

				  <div class="searchbox centered">
				      <span class="icon"><i class="fa fa-search"></i></span>
				      <input type="search" id="search" placeholder="Search..." />
				  </div>
				</div>
			</div>
		</div>
    </body>

<%- include layouts/footer.ejs %>