@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
body{
    font-weight: arial, san-serif;
}
.container{
  width: 100%;
}

div#container{
    padding: 3vh 17vw;
}

p#resultData{
    color: #808080;
    font-size: 0.8em;
}


#output p{
    color: #545454;
    font-size: 15px;
}

#title{
    font-size: 20px;
    color: #1a0dab;
}
#title:visited{
    color: #609;
}

cite{
    color: #006621;
}

#output{
    margin-top: 20px;
    height: auto;
}
.page-header{
  margin-top: 100px;
  text-align: center;
}

.searchbox{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.searchbox input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
}

div#wrapper{
    margin-top:2vh;
}

#bannerLogo{
    margin-bottom: 1.5vh;
}
